/* GLOBAL STYLES */

/* color: rgb(61 21 99); - PURPLE */

/* NAVBAR */

.navbar {
  background-color: white;
  padding: 5px 12px 5px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 5px 0px 10px rgb(192, 192, 192);
}

.navbar h2 {
  padding-top: 5px;
  color: rgb(61 21 99);
}

.navitem:global(.active) {
  background-color: #777777;
}

/* CENTER ALL */

.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* SHOWCASE */

.showcase {
  margin-top: 20%;
}

#page-heading {
  position: absolute;
  top: 28%;
  left: 22%;
  text-align: center;
  width: 200px;
}

#page-heading h1 {
  color: rgb(61 21 99);
  font-size: 5rem;
}

#page-heading p {
  margin: 0;
  margin-bottom: -10%;
}

#panda-logo {
  position: absolute;
  top: 16%;
  right: 13%;
}

/* TESTIMONIALS */

#testimonials {
  background-color: rgb(61 21 99);
  text-align: center;
  color: white;
  margin: 27% 0 0;
  height: 400px;
  width: 100%;
}

.carousel-indicators li {
  visibility: hidden;
}

.caro-item {
  height: 400px;
  padding: 15% 20% 20%;
}

/* ART */

.art {
  overflow: auto;
  height: 460px;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

#nanay {
  width: 300px;
}

#family {
  width: 300px;
}

#mums {
  width: 300px;
}

#peacock {
  width: 300px;
  align-self: flex-start;
  align-items: flex-start;
}

/* FOOTER */

.footer {
  background-color: rgb(61 21 99);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 8px;
}

/* UTILITIES */

/* TEXT STYLES */

/* PADDING */

/* MARGIN */

/* BADGES */

/* ALERTS */

/* BUTTONS */

/* FORMS */
